# Python Lists
The most basic data structure in Python is the sequence. Each element of a sequence is assigned a number: its position or index. The first index is 0, the second index is 1, and so forth...

Python has six built-in types of sequences. Lists are the most common ones.

A list is a collection. A list is ordered and is changeable. In Python lists are written with square brackets.

**Creating A list**

Creating a list is very simple as we will see below...

To display a list. we use the `print()` function

In [8]:
# empty list
my_list = []
print(my_list)

# a list of int type
my_list = [1, 2, 3, 4, 5, 6, 7, 8 , 9]
print(my_list)

# a list of float type
my_list = [1.2, 2.3, 3.4, 4.5, 5.6, 6.7]
print(my_list)

#a list of string type
my_list = ["apple", "banana", "cherry", "berry", "watermelon"]
print(my_list)

# a list of bool type
my_list = [True, False, True, True, False, False]
print(my_list)

[]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1.2, 2.3, 3.4, 4.5, 5.6, 6.7]
['apple', 'banana', 'cherry', 'berry', 'watermelon']
[True, False, True, True, False, False]

Important thing about a list is that items in a list need not be of the same type.

In [4]:
# a list of mixed type
my_list = [6, 7, 8 , 9,3.4, 4.5, 5.6, "apple", "banana", True, False, True,]
print(my_list)

[6, 7, 8, 9, 3.4, 4.5, 5.6, 'apple', 'banana', True, False, True]

**Accessing Values in Lists**

To access values in lists, use the square brackets with the index or indices to obtain value available at that index.

In [5]:
# a list of mixed type
my_list = [6, 7, 8 , 9,3.4, 4.5, 5.6, "apple", "banana", True, False, True,]

#print the element at index 3
print(my_list[3])
#print the element at index 5
print(my_list[5])
#print the element at index -1. the last element
print(my_list[-1])

9
4.5
True


If you use more than one index meaning indices, you will obtain a slice hence its called python list slicing.

a slice of a list is also a list.

In [6]:
#print the elements from index 1 to index 6
print(my_list[1:6])

[7, 8, 9, 3.4, 4.5]

**Updating Lists**

You can update single or multiple elements of lists.

In [7]:
my_list[3] = "changed"
my_list[5] = "changed"

#print the element at index 3
print(my_list[3])
#print the element at index 5
print(my_list[5])

changed
changed

Remeber you can update the value to be anything.